footer
  .container.text-center
    div © 2014 Mike Robertson
    div
      | Based on the 
      strong Hackathon Starter
      |  Boilerplate
    div
      | Code licensed under&nbsp;
      a(href='http://opensource.org/licenses/mit-license.html') MIT License