extends ../layout

block content
	h1 Resume
	p(style='white-space:pre;')
		a(href='/pdf/mjr_resume_sogeti.pdf' target='_blank') View PDF <br/>
		a(href='/pdf/mjr_resume_sogeti.pdf' download='Michael_Robertson_Resume') Download PDF
	div
